.light {
	--primary: #f0a202;
	--secondary: #48acf0;
	--background: #f1f7ee;
	--text: #292f36;
	--completed: #06ba63;
	--error: #f45b69;
}

.dark {
	--primary: #f0a202;
	--secondary: #48acf0;
	--background: #292f36;
	--text: #f1f7ee;
	--completed: #06ba63;
	--error: #f45b69;
}
