.light {
	--background: #f8f7f9;
	--text: #003049;

	--primary: #f2f2f2;
	--secondary-text: #b5b5b5;

	--completed: #00d9c0;
	--error: #ef233c;
}

.dark {
	--background: #003049;
	--text: #f8f7f9;

	--primary: #003856;
	--secondary-text: #b5b5b5;

	--completed: #00d9c0;
	--error: #ef233c;
}
