.light {
	background: #f1f7ee;
	color: #292f36;
	--primary: #f0a202;
	--secondary: #f46036;
	--background: #f1f7ee;
	--text: #292f36;
	--secondary-text: #f1f7ee;
	--completed: #06ba63;
	--error: #f45b69;
}

.dark {
	background: #292f36;
	color: #f1f7ee;
	--primary: #f0a202;
	--secondary: #f46036;
	--background: #292f36;
	--text: #f1f7ee;
	--secondary-text: #292f36;
	--completed: #06ba63;
	--error: #f45b69;
}
