.chat {
	@apply flex flex-col max-h-[calc(100vh-4rem)] gap-2 px-4 py-6 overflow-y-auto lg:translate-x-72 lg:w-[calc(100%-18rem)] pb-20;

	.date {
		@apply text-center my-4 text-base text-secondaryText font-bold;
	}

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}
