.chat {
	@apply flex flex-col max-h-[calc(100vh-4rem)] gap-2 px-4 py-6 overflow-y-auto lg:translate-x-72 lg:w-[calc(100%-18rem)];

	.date {
		@apply text-center my-4 text-base text-gray-300;
	}

	&::-webkit-scrollbar {
		width: 1px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background-color: orange;
	}

	scrollbar-width: thin;
	scrollbar-color: orange #565656;
}
