.chatList {
	@apply max-w-[300px] h-screen flex flex-col gap-2 overflow-y-scroll;

	/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
